@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Medium.eot');
    src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueRegular.eot');
    src: url('../fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
        url('../fonts/HelveticaNeueRegular.woff') format('woff'),
        url('../fonts/HelveticaNeueRegular.ttf') format('truetype'),
        url('../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

a {
    outline: none;
}

.invert, .invert .title h2, .invert .title h1, .invert p {
    color: #fff !important;
}

.section-big-image.bg {
    padding-bottom: 0% !important;
}

.bg-size-cover {
    background-size: cover;
}

.section-big-image .bg.bottom {
    background-position: center bottom;
}

.section-big-image .bg.top {
    background-position: center top;
}

.section-big-image .bg.top-left {
    background-position: left top;
}

.section-big-image .bg.top-right {
    background-position: right top;
}

.section .content {
    padding: 10em 0;
}

.section.section-big-image .content {
    z-index: 10;
    left: 0;
    right: 0;
}

.section.section-big-image .content.top {
    top: 0;
}

.section.section-big-image .content.bottom {
    bottom: 0;
}

.section.section-big-image .content.middle {
    top: 50%;
    transform: translate(0, -50%);
}

/* Buttons */
.btn-green {
    background: #94CA51;
    font-size: 0.875em;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: 700;
    color: #fff;
    padding: 0.6em 2em;
    border: 2px solid transparent;
}

.btn-green:hover {
    background: #fff;
    color: #020D3A;
    border-color: #94CA51;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

.btn-gray {
    background: #E5E9F2;
    font-size: 0.875em;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: 700;
    color: #020D3A;
    padding: 0.6em 2em;
}

.btn-gray:hover {
    background: #020D3A;
    color: #fff;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

.btn-blue {
    background: #018EFF;
    font-size: 0.875em;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: 700;
    color: #fff;
    padding: 0.6em 2em;
}

.btn-blue:hover {
    background: #020D3A;
    color: #fff;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

.btn-lg {
    padding: 0.9em 2em;
    font-size: 1em;
}

.tabs {
    padding: 50px;
    text-align: center;
}

.tabs .text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tabs .row {
    margin: 20px 0;
}

.tabs .left {
    text-align: left;
}

.tabs .right {
    text-align: right;
}

.tabs hr {
    width: 100px;
    height: 8px;
    background-color: rgb(2, 91, 224);
}


.tabs .hr-left {
    float: right;
}

.tabs .hr-right {
    float: left;
}

.tabs img {
    width: 280px;
}


#landing-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 100px);
    text-align: center;
}

.landing-page h1 {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 800px;
}

.landing-page button {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#dropdownMenuButton1, #dropdownMenuButton1:focus, #dropdownMenuButton1:hover {
    border: none;
    background-color: white;
    outline: none;
}

.dropdown-menu {
    min-width: 235px !important;
    padding: 0;
}

.dropdown-menu li {
    padding: 5px 0;
}

.services {
    text-align: center;
    color: white;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.services .row {
    margin-top: 50px;
}

.services .box {
    width: 400px !important;
    height: 410px;
    padding: 50px 10px;
    border: 3px solid gray;
    border-radius: 10px;
    background: rgb(31, 30, 30);
    transition: .2s;
    color: white;
}

.services .box:hover {
    cursor: pointer;
    border-color: white;
    box-shadow: -1px 2px 25px 3px white;
    -webkit-box-shadow: -1px 2px 25px 3px white;
    -moz-box-shadow: -1px 2px 25px 3px white;
}

.services .box:hover h3 {
    color: #208ff7;
}

.box-right {
    float: right;
}

.gray-bg {
    text-align: center;
    padding-top: 100px;
    min-height: 100vh;
}

.gray-bg img {
    filter: grayscale(100%);
    transition: .5s;
    margin: 20px 0;
}

.gray-bg img:hover {
    filter: grayscale(0%);
    transform: translateY(-10px);
}

.technologies img {
    filter: grayscale(100%);
    transition: .5s;
}

.technologies img:hover {
    filter: grayscale(0%);
    transform: translateY(-10px);
}


.pics .card {
    transition: .3s;
    height: 410px;
    width: 360px;
    margin: 0 auto;
}

.pics .card:hover {
    box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.75);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

footer {
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin: 10px 0;
}

footer li a:hover {
    cursor: pointer;
    color: #208ff7;
}

.footer-spacer {
    height: 40px;
}

footer hr {
    background-color: #208ff7;
    width: 100px;
    float: left;
    height: 2px;
    border: 2px solid #208ff7;
}

.copyright {
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
    height: 60px;
    margin: auto 0;
}

.copyright p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}